<h1>店名</h1>

<p>料理の写真</p><img src="" alt="">

<p>外観</p><img src="" alt="">

<p>内観</p><img src="" alt="">

<p>詳細</p>
<ul>
<li>カテゴリ: </li>
<li>ヴィーガン対応: </li>
<li>価格帯: </li>
<li>駅からの距離: </li>
<li>住所: </li>
<li>営業時間: </li>
<li>定休日: </li>
<li>電話番号: </li>

<li>駐車場: </li>
</ul>